<div class="container">
  <h1>
    Angular 2 with i18n
  </h1>
</div>

<div class="container">
    <label>
      <b>{{ 'HOME.SELECT' | translate }} : </b>
      <ng-container  *ngFor="let lang of translate.getLangs()">
          <a href="#" id="{{lang.short_name}}" (click)="translate.use(lang.short_name)">
            <span class="container-padding"> {{ lang.long_name }} </span>
          </a>
      </ng-container>
    </label>
    <h2 class="textColor">{{ 'HOME.TITLE' | translate }}</h2>
</div>